In [28]:
# Import Coin Gecko Library
from pycoingecko import CoinGeckoAPI
import pandas as pd

In [29]:
# initilize client
client = CoinGeckoAPI()

In [30]:
# Check API
client.ping()

{'gecko_says': '(V3) To the Moon!'}

In [31]:
# make helper functions to change unix time to human time (Coin gecko's data starts in unix time which is unreadable)
import datetime
import time

def unix_time(year, month, day, hour, second):
    date_time = datetime.datetime(year, month, day, hour, second)
    return time.mktime(date_time.timetuple())

def human_time(unix_time):
    return datetime.datetime.fromtimestamp(unix_time)

In [32]:
# Pick start and end Dates: Five Years from Jan 1, 2018 - Jan 1, 2023
start = unix_time(2018, 1, 1, 0, 0)
end = unix_time(2023, 1, 1, 0, 0)

In [35]:
question1 = input("What coin do you want")

What coin do you want Bitcoin

In [36]:
question1 = question1.lower()

In [37]:
# Pull data from API
btc = client.get_coin_market_chart_range_by_id(
    id = question1,
    vs_currency = 'usd',
    from_timestamp=start,
    to_timestamp=end
)

In [38]:
test = (btc['prices'][1][0])

In [39]:
test

1514937600000

In [40]:
#unixToDatetime = datetime.datetime.fromtimestamp(test) # Unix Time
#print(unixToDatetime)

In [44]:
new = pd.DataFrame.from_dict(btc)

In [42]:
new['prices'][0][0]

1514851200000

In [55]:
new['date'] = new['prices'][0][0]

In [48]:
new

,prices,market_caps,total_volumes,date
0,"[1514851200000, 15321.9328517642]","[1514851200000, 257079617264.841]","[1514851200000, 4130217904.20997]",1514851200000
1,"[1514937600000, 15583.8855377593]","[1514937600000, 261505188675.85794]","[1514937600000, 3310355625.1255913]",1514851200000
2,"[1515024000000, 15976.365194174]","[1515024000000, 268124738814.99704]","[1515024000000, 4217387187.5256386]",1514851200000
3,"[1515110400000, 18336.9229801691]","[1515110400000, 307774011688.3515]","[1515110400000, 6275687595.940333]",1514851200000
4,"[1515196800000, 18343.6624934071]","[1515196800000, 307926110569.5282]","[1515196800000, 4240919830.5153003]",1514851200000
...,...,...,...,...
1821,"[1672185600000, 16701.840210667935]","[1672185600000, 321351469136.8621]","[1672185600000, 17436062121.5136]",1514851200000
1822,"[1672272000000, 16538.906094001977]","[1672272000000, 318288869204.81464]","[1672272000000, 19113614755.874695]",1514851200000
1823,"[1672358400000, 16644.379087037905]","[1672358400000, 320297298175.87695]","[1672358400000, 15683731676.998154]",1514851200000
1824,"[1672444800000, 16604.020520373393]","[1672444800000, 319722045805.09534]","[1672444800000, 17497327983.349342]",1514851200000
1825,"[1672531200000, 16540.693624776803]","[1672531200000, 318278329991.7019]","[1672531200000, 12013247678.029587]",1514851200000

In [62]:
new['prices'].iloc[0]

[1514851200000, 15321.9328517642]